<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>django로 만드는 홈페이지 {% block title %} {% endblock %}</title>
</head>
<body>
<!-- 배너 -->
<h2>나만의 홈페이지</h2>
<!-- 어플리케이션 메뉴 선택 -->
<a href="{% url 'vote:index' %}">설문조사</a>
<a href="/">북마크</a>
<a href="{% url 'blog:index' %}">게시판</a>
<br>	
<!-- 로그인 상태에 따른 처리 user: 사용자 요청 벙보 중 혅 로그인 되어있는 User객체가 남긴 변수 -->
<!-- user.is_authenticated : 사용자가 현재 로그인 되어있는지 여부를 파악 -->
{% if user.is_authenticated %}
	<!-- 로그인이 된 경우 -->
	{{ user.last_name }} {{user.first_name}}님 환영합니다!!
	<a href="{% url 'login:signout' %}">로그아웃</a>
{% else %}
	<!-- 로그인이 안된 경우 -->
	<a href="{% url 'login:signin' %}">로그인</a>
	<a href="{% url 'login:signup' %}">회원 가입</a>
{% endif %}

<hr>
{% block content %}
{% endblock %} <!-- 수정해야하는 부분만 블록으로 지정해준다. -->
<hr>
<p>서울시 종로구</p>
<p>010-1234-5678</p>
</body>
</html>